<nav
  class="fixed top-0 left-0 right-[84%] h-full w-auto flex flex-col gap-2 bg-white drop-shadow-xl"
>
  <h1
    class="w-full bg-gradient-to-b from-secondary to-primary text-center lg:text-2xl md:text-xl text-base font-medium font-roboto text-white py-[14px] uppercase"
  >
    slaca 2019
  </h1>
  <img src="assets/img/Slaca.jpg" alt="" />
  <div class="w-full flex flex-col text-[.5rem] sm:text-sm lg:text-xl">
    <a
      class="font-quick border-b-2 py-2 px-1 md:pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/home"
    >
      Apresentação
    </a>
    <a
      class="font-quick border-b-2 py-2 px-1 md:pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/about"
      >Comitês</a
    >
    <a
      class="font-quick border-b-2 py-2 px-1 md:pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/contact"
      >Autores</a
    >
    <a
      class="font-quick border-b-2 py-2 px-1 md:pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/contact"
      >Eixos temáticos</a
    >
    <a
      class="font-quick border-b-2 border-l-4 border-l-primary py-2 px-1 md:pl-6 relative border-[#E7E7E7] bg-tertiary"
      routerLink="/contact"
    >
      Trabalhos
    </a>
    <a
      class="font-quick border-b-2 py-2 px-1 md:pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/contact"
      >Contato</a
    >
  </div>
</nav>