<div class="w-full py-11 flex justify-around gap-2">
    <div class="flex flex-col gap-5 w-[49rem]">
        <h2 class="font-roboto lg:text-xl sm:text-base text-[.6rem] font-black text-primary">
            Análise sensorial de preparações funcionais desenvolvidas para
            escolares entre 09 e 15 anos, do município de Campinas/SP
        </h2>
        <div class="bg-video-back max-w-[780px] h-auto md:h-full bg-cover bg-center text-white rounded overflow-hidden">
            <div class="flex flex-col pb-14 px-8 pt-9 justify-between h-full bg-[#8D350680]">
                <h2 class="lg:text-2xl sm:text-base text-[.6rem] font-black w-full">
                    Análise sensorial de preparações funcionais desenvolvidas para
                    escolares entre 09 e 15 anos, do município de <br />
                    Campinas/SP
                </h2>
                <div class="flex w-full gap-5">
                    <div class="border-2 border-primary md:border-spacing-8 border-none rounded-full">
                        <div class="relative sm:w-16 w-8 sm:h-16 h-8 overflow-hidden rounded-full my-4 md:m-1">
                            <img class=" absolute scale-[2] md:top-6 top-2 left-0 object-cover object-top"
                                src="/assets/img/perfil-video.png"/>
                        </div>
                    </div>

                    <div class="flex flex-col pt-5 md:pt-0">
                        <h3 class="lg:text-3xl sm:text-base text-[.6rem] font-black">Beatriz Christiane Melo</h3>
                        <p class="lg:text-xl sm:text-sm text-[.7rem]">FCA / Universidade Estadual de Campinas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="w-[242px] h-full flex flex-col justify-end gap-3">
        <div class="flex w-full flex-col md:flex-row items-start md:items-end gap-2">
            <button class="bg-primary flex text-white text-[.5rem] lg:text-[.7rem] xl:text-base h-5 md:h-8 md:py-2 py-1 md:px-3 px-2 rounded items-center justify-center gap-1">
                <i class="bi bi-download"></i>
                <span>Download</span>
            </button>

            <button class="bg-primary text-white h-5 md:h-8 md:py-2 py-1 md:px-3 px-2 text-[.5rem] lg:text-[.7rem] xl:text-base rounded flex items-center">
                <i class="bi bi-star-fill"></i>
            </button>
            <button class="bg-primary text-white h-5 md:h-8 md:py-2 py-1 md:px-3 px-2 rounded">
                <img src="assets/icons/doi.png" alt="" class="w-2 h-2 md:h-4 md:w-4" />
            </button>
        </div>
        <p class="text-[.6rem] md:text-sm text-primary font-roboto uppercase lg:text-center text-start">
            Como citar este trabalho?
        </p>
        <div class="w-full border border-[#ECECEC] h-full overflow-y-scroll max-h-[440px]">
            <h4 class="w-full bg-tertiary text-[.7rem] md:text-xl font-medium md:px-4 px-2 py-3">
                Detalhes
            </h4>
            <div class="font-quick text-[.6rem] md:text-sm md:p-4 p-2 flex flex-col gap-6">
                <div>
                    <p>Tipo de Apresentação: <span class="font-bold">Pôster</span></p>
                    <p>
                        Eixo temático:
                        <span class="font-bold">Alimentação e saúde (AS)</span>
                    </p>
                    <p>
                        Palavras-chaves:
                        <span class="font-bold">Alimentos funcionais, alimentação escolar.</span>
                    </p>
                </div>

                <div>
                    <p class="font-bold">Autores:</p>
                    <p>Galileo Galilei¹</p>
                    <p>Berta Lange de Morretes²</p>
                    <p>Isaac Newton³</p>
                    <p>Cesar Lattes¹</p>
                    <p>Stephen Hawking⁴</p>
                </div>
                <div class="text-xs font-normal">
                    <p>¹Universidade Estadual de Campinas</p>
                    <p>²Universidade de São Paulo</p>
                    <p>³Instituto Nacional de Pesquisas Espaciais</p>
                    <p>⁴Universidade Federal do Rio de Janeiro</p>
                </div>
                <div class="text-xs mt-96">
                    <p>¹Universidade Estadual de Campinas</p>
                    <p>²Universidade de São Paulo</p>
                    <p>³Instituto Nacional de Pesquisas Espaciais</p>
                    <p>⁴Universidade Federal do Rio de Janeiro</p>
                </div>
            </div>
        </div>
    </aside>
</div>